@font-face {
    font-family: "top secret stamp";
    src: url("Top\ Secret\ Stamp.ttf");
}
body{
    font-family: "top secret stamp";
    font-size: larger;
}

button{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
}

button:hover{
    background-color: red;
    text-decoration: underline;
}